.App {
  display : grid;
  justify-content : center;
  align-items : center;
}

.report {
  border : 2px solid black;
  margin : 20px;
  padding : 20px;
  display : grid ;
  justify-content : center;
  align-items : center;  
  font : arial

}
